table.LifeBoard {
	width: 10%;
	height: 10%;
	padding: 1px;
	border-spacing: 0px;
	border-collapse: separate;
	border-color: #000000;
	empty-cells: show;
}
tr.LifeRow {
}
td.Alive {
	background-color: #00ff00;
}
td.Alive:hover {
	background-color: #ffff00;
}
td.Dead {
	background-color: #000000;
}
td.Dead:hover {
	background-color: #ff0000;
}
#logDiv {
	width: 50%;
	float: right;
}
