table.LifeBoard {
	position: relative;
	clear: both;
	width: 300px;
	height: 300px;
	padding: 0px;
	border-width: 0px;
	border-collapse: collapse;
	empty-cells: show;
}
table.LifeBoard td.Alive {
	background-color: #00ff00;
}
table.LifeBoard td.Dead {
	background-color: #000000;
}
table.LifeBoard td.Alive:hover {
	background-color: #ffff00;
}
table.LifeBoard td.Dead:hover {
	background-color: #ff0000;
}
